@font-face {
  font-family: 'ATCOverlook';
  src: url('ATCOverlook-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ATCOverlookThin';
  src: url('ATCOverlook-Thin.woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  background: #080808;
  cursor: none;
  font-family: 'ATCOverlook', 'Montserrat', sans-serif;
  font-size: 18px;
}

.custom-cursor {
  background-color: #0072A0;
  z-index: 99;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

.custom-cursor::before {
  content: '';
  transition: all 1s;
  transform: scale(0);
  opacity: 0.4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -45px;
  top: -45px;
  background-color: #0072A0;
  position: absolute;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.3, 1.25);
}
.custom-cursor-active::before {
  transform: scale(1);
}

#wrapper {
  position: relative;
  overflow: hidden;
}

/*start main navbar*/
.navbar {
  padding-top: 2.22222em;
}

.navbar-brand {
  padding: 0;
}

.navbar-brand-white {
  display: none;
  position: absolute;
  z-index: 9;
}

.logo {
  width: 2.88889em;
}

.logo-text {
  width: 7.11111em;
}

.navbar-nav .nav-item {
  padding: 0 1.3pt;
}
.navbar-nav li a {
  display: inline-block;
  color: #fff;
}

.loginButton {
  padding-top: 0px;
}
.loginButton polygon {
  stroke-dasharray: 130, 19;
  stroke-dashoffset: 47;
  transition: stroke-dashoffset .5s, transform 2s;
}
.polygon-active {
  stroke-dashoffset: 255 !important;
}


.navbar-brand-right img {
  width: 140pt;
}
/*end main navbar*/

.bg-video{
  position: absolute;
  right: -23em;
  top: -20em;
  z-index: -1;
}

/*start verticalbar*/
.vertical-bar {
  height: 66%;
  width: 120px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}
.vertical-bar div {
  width:100%;
  height:50%;
  display: flex;
  align-items: center;
  padding: 35px 22px;
  justify-content: center;
  position: relative;
}
.vertical-bar div a {
  width: 40px;
}

.sideBar-toggle {
  transition: all 0.5s ease-in;
  position: absolute;
}
.sideBar-toggle span{
  height: 1px;
  width: 100%;
  background-color: #0072A0;
  display: block;
  margin: 15px 0;
  background-image: linear-gradient(to right, #0777A6, #4BB9CD);
}
.sideBar-close {
  opacity: 0;
  transition: all 0.5s ease-in;
  position: absolute;
}
.sideBar-close span {
  height: 1px;
  width: 100%;
  transition: all 0.5s;
  background-color: #FFF !important;
  transform: rotate(45deg);
  display: block;
}
/*end verticalbar*/

/* align flex items */
.aligner-item-bottom {
  align-self: flex-end;
}
.aligner-item--top {
  align-self: flex-start;
}

/*start left side panel modal*/
.modal-section {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  left: -100%;
  transition: all 1s cubic-bezier(0.02, 1.01, 0.1, 1),  background-color 1s ease 0.5s;
}
.close-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}
.content-modal {
  z-index: 5;
  width: 640px;
  height: 100%;
  background-image: linear-gradient(to right, #0777A6, #4BB9CD);
  position: absolute;
  display: table;
}
.side-search{
  position: absolute;
}
.side-items {
  display: table-cell;
  vertical-align: middle;
}
.side-items a {
  display: block;
  color: #FFF;
  font-size: 44pt;
  font-weight: 300;
  font-family: ATCOverlookThin;
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2px;
}
.side-items a:hover {
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  margin-bottom: 1px;
}

.side-subscribe {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
}
.side-subscribe a {
  color:#FFF;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 2.5rem;
}
.side-subscribe a:hover {
  text-decoration: none;
} 
/*end left side panel modal*/

.main-container {
  height: calc(100vh - 100px);
  padding: 0 120px 0 10%;
  display: table;
}
.main-container .row {
  display: table-cell;
  vertical-align: middle;
}

.main-container h1 {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 100;
  max-width: 10em;
  line-height: 60pt;
  font-family: 'ATCOverlookThin';
  margin-bottom: 40pt;
}
.main-container p {
  color: #A0A0A0
}
.main-container a {
  display: block;
  margin-top: 35pt;
  color: #FFF;
  font-size: 12pt;
  text-decoration: none;
}
.main-container a span {
  display: inline-block;
  width: 70pt;
  height: 1px;
  background: #FFF;
  margin-right: 13pt;
  margin-bottom: 4px;
}
.footer-copyright {
  background: #121313;
  padding: 50px;
}

.footer-copyright ul li a {
  font-size: 13px;
  color: #fff;
}

.footer-copyright ul li {
  list-style-type: none;
}

.footer-copyright h4 {
  color: #fff;
  font-size: 19px;
}

.newsletter-textbox {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.copyright {
  background: #080808;
  font-size: 12px;
  padding: 25px;
}

.copyright a {
  color: #fff;
}

.copyright span{
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

.instagram-container{
  padding: 75px;
}

.about h2{
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#4BB9CD, #0777A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-copy{
  position: absolute;
  right: 0px;
}

a:hover, a {
  cursor:none;
}