@font-face {
  font-family: 'ATCOverlook';
  src: url('ATCOverlook-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ATCOverlookThin';
  src: url('ATCOverlook-Thin.woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  background: #080808;
  cursor: none;
  font-family: 'ATCOverlookThin', 'Montserrat', sans-serif;
  font-size: 18px;
}

.custom-cursor {
  background-color: #0072A0;
  z-index: 99;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
}

.custom-cursor::before {
  content: '';
  transition: all 1s;
  transform: scale(0);
  opacity: 0.4;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: -45px;
  top: -45px;
  background-color: #0072A0;
  position: absolute;
  transition-timing-function: cubic-bezier(0.1, 0.7, 0.3, 1.25);
}

.custom-cursor-active::before {
  transform: scale(1);
}

#wrapper {
  position: relative;
  overflow: hidden;
  color: #FFF;
}

/*start main navbar*/
.navbar {
  padding-top: 2.22222em;
}

.navbar-brand {
  padding: 0;
  outline: none;
  z-index: 8;
}

.navbar-brand-white {
  display: none;
  position: absolute;
  z-index: 9;
  outline: none;
}

.logo {
  width: 2.88889em;
}

.logo-text {
  width: 7.11111em;
  transition: all 0.3s ease-in;
}

.navbar-nav .nav-item {
  padding: 0 1.3pt;
}

.navbar-nav li a {
  display: inline-block;
  color: #fff;
}

.nav-sticky .navbar-brand,
.nav-sticky .navbar-brand-white {
  position: fixed;
}

.nav-sticky .navbar-brand .logo-text,
.nav-sticky .navbar-brand-white .logo-text {
  opacity: 0;
  transform: translateX(30px);
}

.search-form {
  min-width: 3em;
  transition: all 0.3s cubic-bezier(0.74, 0.31, 0.81, 0.55);
  width: 10px;
  overflow: hidden;
  height: 44px;
}

.search-input {
  background: no-repeat;
  border: none;
  margin-left: 7px;
  color: #FFF;
  outline: none;
}

.loginButton {
  padding-top: 0px;
}

.loginButton polygon {
  stroke-dasharray: 130, 19;
  stroke-dashoffset: 47;
  transition: stroke-dashoffset .5s, transform 2s;
}

.polygon-active {
  stroke-dashoffset: 255 !important;
}


.navbar-brand-right img {
  width: 140pt;
}

/*end main navbar*/

.bg-video {
  position: absolute;
  right: -23em;
  top: -20em;
  z-index: -1;
}

/*start verticalbar*/
.vertical-bar {
  height: 66%;
  width: 120px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
}

.vertical-bar div {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  padding: 35px 22px;
  justify-content: center;
  position: relative;
}

.vertical-bar div a {
  width: 40px;
}

.sideBar-toggle {
  transition: all 0.5s ease-in;
  position: absolute;
}

.sideBar-toggle span {
  height: 1px;
  width: 100%;
  background-color: #0072A0;
  display: block;
  margin: 15px 0;
  background-image: linear-gradient(to right, #0777A6, #4BB9CD);
}

.sideBar-close {
  opacity: 0;
  transition: all 0.5s ease-in;
  position: absolute;
}

.sideBar-close span {
  height: 1px;
  width: 100%;
  transition: all 0.5s;
  background-color: #FFF !important;
  transform: rotate(45deg);
  display: block;
}

/*end verticalbar*/

/* align flex items */
.aligner-item-bottom {
  align-self: flex-end;
}

.aligner-item--top {
  align-self: flex-start;
}


.triangle {
  background: url("../img/triangle.png") no-repeat;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  background-size: cover;  
  z-index: -1;
}
.triangle1 {
  left: 9px;
  top: 50px;
  transform: rotate(-11deg);
  z-index: 3;
}
.triangle2 {
  z-index: 2;
  right: 0px;
  top: 55%;
}
.triangle3 {
  left: 27px;
  top: -4px;
  transform: rotate(26deg);
}
.triangle4 {
  right: 2.5em;
  transform: rotate(-20deg);
}

/*start left side panel modal*/
.modal-section {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  left: -100%;
  transition: all 1s cubic-bezier(0.02, 1.01, 0.1, 1), background-color 1s ease 0.5s;
}

.close-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
}

.content-modal {
  z-index: 5;
  width: 640px;
  height: 100%;
  background-image: linear-gradient(to right, #0777A6, #4BB9CD);
  position: absolute;
  display: table;
}

.side-search {
  position: absolute;
  top: 35px;
  width: 100%;
  left: 60px;
}

.side-search-form {
  height: 48px;
  width: 260px;
  margin: 0 auto;
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);

}

.side-search-input {
  background: none;
  border: none;
  color: #FFF;
  opacity: 1;
  outline: none;
  width: 80%;
  margin-left: 10px;
}

.side-search-input::placeholder {
  color: #75bcd2;
}

.side-items {
  display: table-cell;
  vertical-align: middle;
}

.side-items a {
  display: block;
  color: #FFF;
  font-size: 44pt;
  font-weight: 300;
  font-family: 'ATCOverlookThin';
  text-align: left;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 2px;
}

.side-items a:hover {
  text-decoration: none;
  border-bottom: 1px solid #FFF;
  margin-bottom: 1px;
}

.side-subscribe {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 0px;
}

.side-subscribe a {
  color: #FFF;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 2.5rem;
}

.side-subscribe a:hover {
  text-decoration: none;
}

/*end left side panel modal*/

.content-spacing {
  padding: 0 7em;
}

/*start main container*/
.main-container {
  height: calc(100vh - 100px);
  /*padding: 0 120px 0 10%;*/
  display: table;
  position: relative;
  width: 100%;
}

.main-container .row {
  display: table-cell;
  vertical-align: middle;
  width: 40em;
}

.main-container h1 {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 100;
  max-width: 10em;
  line-height: 60pt;
  font-family: 'ATCOverlookThin';
  margin-bottom: 40pt;
}

.main-container p {
  color: #A0A0A0;
  font-weight: 700;
}

.main-container a {
  display: block;
  margin-top: 35pt;
  color: #FFF;
  font-size: 12pt;
  text-decoration: none;
}

.main-container a span {
  display: inline-block;
  width: 70pt;
  height: 1px;
  background: #FFF;
  margin-right: 13pt;
  margin-bottom: 4px;
}

.socialIcons {
  position: absolute;
  bottom: 2.5em;
  right: 1.5em;
}

.socialIcons a {
  margin: 0;
  color: #A0A0A0;
  display: inline-block;
  margin: 0 0.5em;
  font-size: 1em;
  opacity: 0.5;
}
/*end main container*/

/* start about us*/
.about {
  background:#121313;
  padding-right: 1em;
  color: #FFF;
}
.about h2 {
  text-align: center;
  font-size: 7.8em;
  background: -webkit-linear-gradient(#4BB9CD, #0777A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.5em 0 0;
  text-align: right;
}
/* end about us*/

/*start insta section*/
.instagram-container {
  padding: 11em 7em 5em;
}
.instagram-container h3 {
  background: linear-gradient(#4BB9CD, #0777A6);
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2.3em;
  font-weight: 300;
}
.instagram-container .svg-button__path, .instagram-container .svg-button__line {
  stroke: #ffffff;
}
.instagram-container .svg-button__text{
  fill: #ffffff;
  font-family: "ATCOverlook";
}
.insta-watch a:hover .svg-button__text {
  fill:  #0072a0;
}
.insta-watch a:hover .svg-button__path, .insta-watch a:hover .svg-button__line {
  stroke: #0072a0;
}
/*end insta section*/

.footer-copyright {
  background: #121313;
  padding: 4.5em 7em;
}

.footer-copyright ul li a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.footer-copyright ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.footer-copyright h4 {
  color: #fff;
  font-size: 19px;
}

.newsletter-textbox {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(160, 160, 160, 0.23);
  font-size: 15px;
  color: #A0A0A0;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
  outline:none;
}

input:focus::placeholder {
  color: transparent;
}

.footer-copyright a:hover {
  color: #337ab7;
}

.copyright {
  background: #080808;
  font-size: 12px;
  padding: 25px;
}

.copyright a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.copyright span {
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

.center {
  padding-left: 25%;
}

.footer-copy {
  position: absolute;
  right: 0px;
}

a:hover,
a {
  cursor: none;
}

.newsletter i {
  color: #fff;
  position: absolute;
  top: 45%;
  right: 4px;
}

.footer-logo {
  position: relative;
  left: 12%;
}

.p-top {
  padding-top: 25px;
  position: relative;
  left: 15%;
}