<div class="row movieList">

    <a ng-repeat="movie in movies" class="movie" ng-click="getDetailsById(movie.id)"><img
            src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt=""
            class="img-fluid logo"></a>
    <!-- <a class="movie" href="#"><img src="assets/img/underwater.jpg" alt="" class="img-fluid logo"></a>
    <a class="movie" href="#"><img src="assets/img/freaks.jpg" alt="" class="img-fluid logo"></a>
    <a class="movie" href="#"><img src="assets/img/underwater.jpg" alt="" class="img-fluid logo"></a>
    <a class="movie" href="#"><img src="assets/img/freaks.jpg" alt="" class="img-fluid logo"></a> -->
</div>