<!DOCTYPE html>
<html lang="en-us">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\custom.css">
    <link rel="stylesheet" href="assets\css\responsive.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="assets/js/lazy-scroll.min.js"></script>
    <!-- <link rel="icon" href="assets/img/favicon.png" type="image/png"> -->
    <title>Movies</title>
</head>

<body ng-app="movieApp" ng-controller="movieController">
    <!--nav bar with header-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Movies</a>
    </nav>

    <!--Main container-->
    <div class="wrapper">

        <!--search section-->
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <div>
                        <div class="search-container">
                            <input type="search" class="search-input" style="border-radius:2px 0 0 2px"
                                placeholder="Search within these results" ng-model="search"><button class="clear-button"
                                ng-click="clearSearch()">X</button>
                        </div>
                        <button class="search-button" style="border-radius:0 2px 2px 0"
                            ng-click="searchMovie(search)">Search
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Movie listing container-->
        <div class="container " lazy-scroll="getAllMovies()" lazy-scroll-trigger="100">
            <div class="row">
                <div class="col-md-3">
                    <label class="sortby-label">Sort by: </label>
                    <select id="sortby" name="sortby" ng-model="sortbySelected" class="sortby"
                        ng-change="sortMovie(sortbySelected)">
                        <option value="vote_average">Rating</option>
                        <option value="release_date">By Release Date</option>
                        <option value="title">Alphabetical</option>
                    </select>
                </div>
            </div>

            <div class="row movieList" ng-if="sorted_movies.length==0">
                <a ng-repeat="movie in movies" class="movie" ng-click="getDetailsById(movie.id)"><img
                        src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt=""
                        class="img-fluid logo"></a>
            </div>

            <div class="row movieListSort" ng-if="sorted_movies.length>0">
                <a ng-repeat="movie in sorted_movies" class="movie" ng-if="movie.poster_path != null"
                    ng-click="getDetailsById(movie.id)"><img
                        src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt=""
                        class="img-fluid logo"></a>
            </div>


            <!-- <div class="row even-row">
                <a class="movie large-banner" href="#"><img
                        src="https://image.tmdb.org/t/p/original//aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//8WUVHemHFH2ZIP6NWkwlHWsyrEL.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//4U7hpTK0XTQBKT5X60bKmJd05ha.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//3tS5rfODPyaFZOKWTizio9iWUcy.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//7W0G3YECgDAfnuiHG91r8WqgIOe.jpg" alt=""
                        class="img-fluid logo"></a>
            </div> -->
            <!-- <div class="row odd-row">
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//d0FWbzrmm99BTfUqf1Lbjl2zu3S.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//cuuI1UVwnoyDoN691Z0bYZrOezx.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//ek5EWMRFIHXPB43axZcyJr2NBrJ.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie" href="#"><img
                        src="https://image.tmdb.org/t/p/original//3ND0NgYAwktnXfNhA6dPwU8YbT7.jpg" alt=""
                        class="img-fluid logo"></a>
                <a class="movie large-banner" href="#"><img
                        src="https://image.tmdb.org/t/p/original//6VZlm8sEwxkE3L5nXxz17QLj1sF.jpg" alt=""
                        class="img-fluid logo"></a>
            </div> -->
        </div>
    </div>


    <!--All javascript files loaded-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <script src="assets/js/movieService.js"></script>
    <script src="movieController.js"></script>
</body>

</html>
