@font-face {
  font-family: 'ATCOverlook';
  src: url('ATCOverlook-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ATCOverlookThin';
  src: url('ATCOverlook-Thin.woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: sans-serif;
  font-size: 18px;
}

.search-container {
  width: 80%;
  display: inline-block;
  position: relative;
}

.search-input {
  font-size: 16px;
  color: hsl(0, 0%, 10%);
  border: 2px solid #e6e6e6;
  background-color: #ffffff;
  padding: 16px 24px;
  flex: 1;
  height: 56px;
  width: 100%;
}

.clear-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in;
  box-shadow: 1px 1px 3px -1px #e6e6e6;
  box-shadow: none;
  position: absolute;
  top: 18px;
  right: 2%;
  color: #cccccc;
  background-color: #ffffff;
}

.search-button {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 14px;
  transition: all 0.2s ease-in;
  box-shadow: 1px 1px 3px -1px #e6e6e6;
  box-shadow: 1px 1px 3px 0 #00000012;
  background-color: #6ba229;
  color: hsl(0, 0%, 100%);
  padding: 16px 0;
  margin-left: -2px;
  width: 18%;
  border-radius: 0 2px 2px 0;
}

.movie {
  width: 25%;
  display: inline-block;
  height: 50%;
}

.large-banner{
  width: 50%
}

.even-row, .odd-row {
  position: relative;
  margin-bottom: 1rem;
}
.even-row a:nth-last-child(2) {
  position: absolute;
  right: 25%;
  bottom: 0;
}

.even-row a:nth-last-child(1) {
  position: absolute;
  right: 0;
  bottom: 0;
}

.odd-row a:nth-last-child(4) {
  position: absolute;
  left: 25%;
  bottom: 0;
}

.odd-row a:nth-last-child(3) {
  position: absolute;
  left: 0;
  bottom: 0;
}

.movieList {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}